QB_HOST=http://127.0.0.1:8080 # qBittorrent api url
QB_USER=admin # qBittorrent username
QB_PASS=password # qBittorrent password

TARGET_RATIO=1.0 # the ratio at which to delete torrents
LOOP_INTERVAL_SECONDS=900 # how often to check torrents (in seconds)
DELETE_FILES=true # whether to delete files when deleting torrents (true/false)
